@{ 
    ViewData["Title"] = "Albums";
    @model IEnumerable<MVCMusicStore.Models.Album>;
}

<div class="text-center">
    <h1 class="display-4">My Albums</h1>

    <p>Take a look at my music!</p>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var album in Model)
            {

                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => album.Id)</th>
                    <td>@Html.DisplayFor(modelItem => album.Title)</td>
                    <td>@Html.DisplayFor(modelItem => album.Genre)</td>
                    <td>@Html.DisplayFor(modelItem => album.Rating)</td>
                </tr>

            }

        </tbody>
    </table>

</div>